.nav {
  list-style-type: none;
  text-align: center;
}

body {
  background-image: url("../images/ombre.jpg");
}

h1 {
  color: darkgreen;
  font-family: "copperplate", sans-serif;
  font-size: 4em;
}
