.nav {
  list-style-type: none;
  text-align: center;
  display: inline-block;
}

body {
  background-image: url("../images/ombre.jpg");
}

h1 {
  color: paleturquoise;
  font-family: "papyrus", fantasy;
  font-size: 4em;
}

