.nav {
  list-style-type: none;
  text-align: center;
  display: block;
  justify-content: center;
  unicode-bidi: isolate;
  padding: 15px;
  background-color: lavenderblush;
  color: darkred;
}
body {
  background-image: url("../images/ombre.jpg");
}
.h1r {
  color: dimgray;
  font-family: monospace;
  font-size: 4em;
  text-align: center;
  background-color: gainsboro;
}
.pics {
  border: 5px solid #e87be4; 
  width: 30%;
  margin: auto;
  display: block;
}
.h1p {
  color: blue;
  font-family: "papyrus", fantasy;
  font-size: 70px;
  text-align: center;
  background-color: lightblue;
}
.h1f {
  color: darkgreen;
  font-family: "copperplate", sans-serif;
  font-size: 4em;
  text-align: center;
  background-color: lightgreen;
}
.rtext {
  text-align: center;
  font-family: monospace;
  list-style-type: none;
  color: dimgray;
}
.rtitles {
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  color: dimgray;
}
.ptitle {
  text-align: center;
  font-family: "papyrus", fantasy;
  font-size: 30px;
  color: blue;
}
.ptext {
  text-align: center;
  font-family: "papyrus", fantasy;
  list-style-type: none;
  font-size: 15px;
  color: blue;
}
.ftitles {
  text-align: center;
  font-family: "copperplate", sans-serif;
  font-size: 2em;
  color: darkgreen;
}
.ftext {
  text-align: center;
  font-family: "copperplate", sans-serif;
  list-style-type: none;
  color: darkgreen;
}
