.nav {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center;
  unicode-bidi: isolate;
  padding: 15px:
}
body {
  background-image: url("../images/ombre.jpg");
}
.h1r {
  color: dimgray;
  font-family: monospace;
  font-size: 4em;
  text-align: center;
}
.pics {
  border: 5px solid #e87be4; 
  margin: auto;
}
.h1p {
  color: blue;
  font-family: "papyrus", fantasy;
  font-size: 4em;
  text-align: center;
}
.h1f {
  color: darkgreen;
  font-family: "copperplate", sans-serif;
  font-size: 4em;
  text-align: center;
}
.rtext {
  text-align: center;
  font-family: monospace;
  list-style-type: none;
}
.rtitles {
  text-align: center;
  font-family: monospace;
  font-size: 2em;
}
.ptitle {
  text-align: center;
  font-family: "papyrus", fantasy;
  font-size: 2em;
}
.ptext {
  text-align: center;
  font-family: "papyrus", fantasy;
  list-style-type: none;
}
