.nav {
  list-style-type: none;
  text-align: center;
  display: flex;
}

body {
  background-image: url("../images/ombre.jpg");
}

h1 {
  color: dimgray;
  font-family: monospace;
  font-size: 4em;
}

.pics {
  border: 2px solid #555; 
}
